{
  "openapi": "3.0.3",
  "info": {
    "title": "My Swim Day public schedule API",
    "version": "1.0.0",
    "description": "Read-only practice, meet, and team-event times. No API key. Hourly limits scale with team size; excess traffic returns HTTP 429 until the window resets. JSON/spoken for voice assistants; ICS for iPhone Calendar subscriptions."
  },
  "servers": [
    {
      "url": "https://myswimday.com"
    }
  ],
  "paths": {
    "/api/schedule": {
      "get": {
        "operationId": "getTeamGroupSchedule",
        "summary": "Practice, meet, and team-event times for a day",
        "description": "Ask for a team's schedule on today, tomorrow, this Friday, next Monday, or a calendar date. Default is practices for one or more groups. Add include=meets, events, or all. Returns structured sessions plus a `spoken` sentence for voice.",
        "parameters": [
          {
            "name": "team",
            "in": "query",
            "required": true,
            "description": "Tenant slug or alias, e.g. DelmarDolfins or DelmarDolphins.",
            "schema": {
              "type": "string",
              "examples": ["DelmarDolfins", "VortexSwimClub"]
            }
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "description": "One or more practice groups: Sr, Sr,Jr, senior and junior. Required when include is practices (the default) or all. Optional for include=meets / events. Repeat group= or use groups=.",
            "schema": {
              "type": "string",
              "examples": ["Sr", "senior", "Sr,Jr", "Jr Prep"]
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "today (default), tomorrow, yesterday, this Friday, next Monday, Friday, or YYYY-MM-DD in the team timezone. `this` is the current Sun–Sat week; `next` is the following week; a bare weekday is the upcoming day including today.",
            "schema": {
              "type": "string",
              "examples": ["today", "tomorrow", "this Friday", "next Monday", "2026-09-16"]
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "What to return. Default is practices only. Use meets, events, all, or meets,events. Alias: kind=. Group is required for practices, optional for meets/events-only.",
            "schema": {
              "type": "string",
              "examples": ["meets", "events", "all", "meets,events"]
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "json (default) or spoken (plain text of the spoken field, for Siri Shortcuts).",
            "schema": {
              "type": "string",
              "enum": ["json", "spoken", "text"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule for that team, group, and day.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Sr practice for Delmar Dolfins today is 5:30 AM to 7:00 AM at BCHS."
                }
              }
            }
          },
          "400": {
            "description": "Missing or unknown group, or invalid date."
          },
          "404": {
            "description": "Unknown team slug."
          },
          "429": {
            "description": "Team or client is over the hourly cap. Retry after the number of seconds in Retry-After."
          },
          "502": {
            "description": "Upstream Commit schedule could not be loaded."
          }
        }
      }
    },
    "/api/calendar": {
      "get": {
        "operationId": "getTeamCalendarFeed",
        "summary": "ICS feed for iPhone Calendar (and one-off Add to Calendar)",
        "description": "Without `d=`, returns a live text/calendar subscription for team + groups (past 7 days through 8 weeks). Subscribe with webcal:// or paste the https URL in Calendar → Add Subscription Calendar. With `d=`, serves a client-built one-off ICS for Safari Quick Look.",
        "parameters": [
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Required for the live feed. Tenant slug or alias, e.g. DelmarDolfins or 1.",
            "schema": {
              "type": "string",
              "examples": ["1", "DelmarDolfins"]
            }
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "description": "Practice groups for the feed. Required unless include is meets/events only.",
            "schema": {
              "type": "string",
              "examples": ["Sr", "Sr,Jr", "Sr,Jr,Jr Prep,DEVO"]
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Default practices only. Use meets, events, all, or meets,events.",
            "schema": {
              "type": "string",
              "examples": ["all", "meets", "meets,events"]
            }
          },
          {
            "name": "weeks",
            "in": "query",
            "required": false,
            "description": "Weeks ahead to include (1–12, default 8). Past 7 days always included.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "d",
            "in": "query",
            "required": false,
            "description": "Legacy one-off payload: base64url of a UTF-8 ICS document."
          }
        ],
        "responses": {
          "200": {
            "description": "ICS calendar (text/calendar).",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "description": "Usage index when called with no query."
              }
            }
          },
          "400": {
            "description": "Missing or unknown group, or invalid include / encoded payload."
          },
          "404": {
            "description": "Unknown team slug."
          },
          "429": {
            "description": "Team or client is over the hourly cap."
          },
          "502": {
            "description": "Upstream Commit schedule could not be loaded."
          }
        }
      }
    },
    "/api/tenants": {
      "get": {
        "operationId": "listTenants",
        "summary": "Public tenant catalog",
        "responses": {
          "200": {
            "description": "Teams available on My Swim Day."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ScheduleSession": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["practice", "meet", "event"],
            "example": "practice"
          },
          "name": { "type": "string" },
          "time": { "type": "string", "example": "5:30 AM – 7:00 AM" },
          "startTime": { "type": "string", "example": "5:30 AM" },
          "endTime": { "type": "string", "example": "7:00 AM" },
          "location": { "type": "string", "nullable": true, "example": "BCHS" },
          "groups": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["Sr"]
          }
        }
      },
      "ScheduleResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "team": { "type": "string", "example": "Delmar Dolfins" },
          "teamSlug": { "type": "string", "example": "DelmarDolfins" },
          "group": { "type": "string", "example": "Sr" },
          "groupLabel": { "type": "string", "example": "Sr" },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "label": { "type": "string" }
              }
            }
          },
          "include": {
            "type": "object",
            "properties": {
              "practices": { "type": "boolean" },
              "events": { "type": "boolean" },
              "meets": { "type": "boolean" }
            }
          },
          "date": { "type": "string", "example": "2026-09-16" },
          "dateLabel": { "type": "string", "example": "Tuesday, Sep 16" },
          "timeZone": { "type": "string", "example": "America/New_York" },
          "sessions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ScheduleSession" }
          },
          "spoken": {
            "type": "string",
            "example": "Sr practice for Delmar Dolfins today is 5:30 AM to 7:00 AM at BCHS."
          },
          "empty": { "type": "boolean" }
        }
      }
    }
  }
}
